html {
    background-color: #001835;
    color: #98a8bc;
}

body {
    margin: 0;
    padding: 0;
    font-family: helvetica,verdana,"microsoft sans serif",arial,sans-serif;
}

h3 {
    padding-bottom: 10px;
}

i {
    -webkit-animation: bounce 0.6s ease-in-out;
    -moz-animation: bounce 0.6s ease-in-out;
    -o-animation: bounce 0.6s ease-in-out;
    animation: bounce 0.6s ease-in-out;
}

header {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    min-height: 3em;
    background-color: #2b578b;
    line-height: 1;
}

input[type=search] {
    background: #ededed url(../img/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 0.25em 2em;
    margin-top: 0.6em;
    margin-right: 0;
    width: 150px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 180px;
    background-color: #fff;
    border-color: #6dcff6;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* placeholder */
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

.navbar {
    margin: 0;
    font-size: 100%;
    width: 80%;
}

.navbar .starmen {
    position: relative;
    float: left;
    margin-top: 0.5em;
    margin-left: 10px;
    width: 40%;
}

.starmen > img {
    -webkit-animation: bounce 0.6s ease-in-out;
    -moz-animation: bounce 0.6s ease-in-out;
    -o-animation: bounce 0.6s ease-in-out;
    animation: bounce 0.6s ease-in-out;
    color: white;
    opacity: 0.5;
    margin-right: 0;
    filter: alpha(opacity=50);
    height: 36px;
}

.navbar a:link, a:visited {
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.navbar a:hover, img:hover {
    color: white;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.navbar a:active {
    color: black;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.navbar .github {
    position:absolute;
    right: 0px;
    margin:10px;
}

.navbar .search {
    position: relative;
    float: right;
}

.navbar .search > .currentCheck {
    color: white;
}

.loading {
    margin: 1em auto;
    text-align: center;
}

.sortContainer {
    margin: 1em auto;
    width:80%;
    color: #a4eda9;
    font-weight: bold;
    text-align: right;
}

.direction {
    cursor: pointer;
    display: inline-block;
    padding-left: 10px;
}

.direction:hover {
    color:#bbffc0;
}

.direction:active {
    color:#ddffcc;
}

.badgeContainer {
    width:80%;
    margin: 1em auto;
    border-style: solid;
    border-width: 2px;
    border-color: #113662;
    -webkit-box-shadow: 0 0 10px #113662;
    -moz-box-shadow: 0 0 10px #113662;
    box-shadow: 0 0 10px #113662;
    background-color: #001228;
}

.badgeItem {
    margin: 5px 0px;
    position: relative
}

.badgeImgContainer {
    float: left;
    display: inline-block;
    padding: 0px 10px;
    height: 100%;
}

.badgeImg {
    min-width:30px;
    min-height:30px;
}

.block {
    margin: 10px;
    display: inline-block;
}

.badgeGroup {
    font-style: italic;
}

.badgeGroup > li {
    display: list-item;
    padding-bottom: 5px;
    margin-left: 15px;
}

.tag {
    text-align: right;
    width:95%;
    display: inline-block;
    margin: 10px;
    font-style:italic;
    font-size: 11pt;
}

.divider {
    width: 86%;
    color: #b3b3b3;
    display: block;
    border-top-width: 0px;
    border-top-style: solid;
    /* top right bottom left */
    margin: 0px 7% 0px 7%;
    opacity: 0.8;
}

.newYear {
    display: inline-block;
    padding-top: 10px;
    border-top-width: 2px;
}

@media (max-width: 475px) {
    input[type=search] {
        width: 75px;
    }
    input[type=search]:focus {
        width: 110px;
    }
}

@media(min-width: 700px) {
    .navbar > .github {
        margin: 10px 2em;
    }
}

@media (min-width: 900px) {
    input[type=search]:focus {
        width: 350px;
    }
}

@media(min-width: 1000px) {
    .navbar > .github {
        margin: 10px 3em;
    }
}


/*0.05, 1.1, 0.9, 1*/
@-webkit-keyframes bounce {
    0% {
        -webkit-transform:scale(0.05);
    }
    33% {
        -webkit-transform:scale(1.1);
    }
    66% {
        -webkit-transform:scale(0.9);
    }
    100% {
        -webkit-transform:scale(1);
    }
}

/*0.05, 1.1, 0.9, 1*/
@-moz-keyframes bounce {
    0% {
        -moz-transform:scale(0.05);
    }
    33% {
        -moz-transform:scale(1.1);
    }
    66% {
        -moz-transform:scale(0.9);
    }
    100% {
        -moz-transform:scale(1);
    }
}

/*0.05, 1.1, 0.9, 1*/
@-o-keyframes bounce {
    0% {
        -o-transform:scale(0.05);
    }
    33% {
        -o-transform:scale(1.1);
    }
    66% {
        -o-transform:scale(0.9);
    }
    100% {
        -o-transform:scale(1);
    }
}

/*0.05, 1.1, 0.9, 1*/
@keyframes bounce {
    0% {
        transform:scale(0.05);
    }
    33% {
        transform:scale(1.1);
    }
    66% {
        transform:scale(0.9);
    }
    100% {
        transform:scale(1);
    }
}